.App {
  text-align: center;
  min-height: 55rem;
  height: fit-content;
  margin-top: 0;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
h1 {
  margin: 0;
  padding-top: 3%;
}
